@import 'variables';



:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --invert-primary-color: #{$invert-primary-color};
  --invert-secondary-color: #{$invert-secondary-color};
}
